$bodyfont-family:'Rokkitt',
serif;
$bodyfont-family-common: Arial;
$body-font-size:20px;
$font-size-small:12px;
$body-font-color:#222222;
$white-bg-color: #ffffff;
$pink-bg-color:#a71d6d;
$darkpink-bg-color:#6f003f;
$yellow-bg-color:#f2b600;
$darkgray-bg-color: #1c1c1c;
$darkgray1-bg-color: #282828;
$gray-bg-color: #4b4949;
$lightgray-bg-color: #999999;
$lightgray1-bg-color: #d7d7d7;
$lightgray2-bg-color: #f4f4f4;
$list-gray-bg-color: #292828;
$black-bg-color: #000000;
$white-font-color: #ffffff;
$pink-font-color:#a71d6d;
$yellow-font-color:#f2b600;
$darkgray-font-color: #1c1c1c;
$gray-font-color: #4b4949;
$lightgray-font-color: #999999;
$lightgray1-font-color: #747474;